.screen-container {
    background-color: #CFB9A9;
    /* background-image: url('../../assets/images/lighthouse-background.png'); */
    /* background-size: cover; */
    height: 100vh;
    width: 100vw;
  }

  