@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

.terminal-container {
  background-color: #282c34;
  padding: 20px;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  line-height: 1.4;
  color: #8af474;
  width: 400px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.terminal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.terminal-title {
  font-weight: bold;
  color: #8af474;
}

.terminal-buttons {
  display: flex;
}

.terminal-button {
  width: 12px;
  height: 12px;
  margin-left: 6px;
  border-radius: 50%;
}

.minimize {
  background-color: #f4c35a;
}

.close {
  background-color: #fb5151;
}

.terminal-content {
  padding: 10px;
  border-radius: 4px;
  background-color: #000000;
  text-align: left;
}

.terminal-path {
  margin-bottom: 16px;
}

.terminal-text {
  display: block;
}

